.course-gp-container {
    display: flex;
    flex-direction: column;
    width: fill-available;
    flex-wrap: wrap;
}

.course-gp-description {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: fill-available;
    flex-wrap: wrap;
    font-weight: 300;
    margin: 2rem;
}

.course-gp-data {
    display: flex;
    flex-direction: row;
    width: fill-available;
}

.course-gp-text {
    padding: 1rem;
    font-size: large;
    font-weight: 200;
}

.course-gp-header {
    padding: 1rem;
    text-align: center;
    font-size: xx-large;
    font-weight: 200;
}

.route-screen {
    display: flex;
    flex-direction: row;
    width: fill-available;
}

.header {
    font-weight: 300;
}