.navbar-container {
    width: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: mediumseagreen;
    min-height: 100vh;
}

.navbar-element {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar-element:hover {
    background-color: rgb(55, 160, 102);
}

.selected-navbar-el {
    background-color: #fff;
    color: mediumseagreen;
}

.logo {
    background-color: black;
}