.course-asgnmt-container {
    display: flex;
    flex-direction: column;
    width: fill-available;
}

.course-asgnmt-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fill-available;
    font-weight: 300;
}

.course-asgnmt-data {
    display: flex;
    flex-direction: row;
    width: fill-available;
}

.course-asgnmt-text {
    padding: 1rem;
    font-size: large;
    font-weight: 200;
}

.course-asgnmt-header {
    padding: 1rem;
    text-align: center;
    font-size: xx-large;
    font-weight: 200;
}

.course-asgnmt-table {
    width: fill-available;
    margin: 2rem;
}

.route-screen {
    display: flex;
    flex-direction: row;
    width: fill-available;
}

.header {
    font-weight: 300;
}