.course-nb-container {
    width: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 50vh;
    height: fill-available;
    margin-top: 1rem;
}

.course-nb-container li {
    padding: 0;
}

.course-nb-element {
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style: none;
    text-decoration: none;
    background-color: #fff;
    color: mediumseagreen;
}

.selected-course-nb-el {
    background-color: #fff;
    border-left: 0.20rem solid black;
}

.selected-course-nb-el:hover {
    background-color: #fff;
}

.logo {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    background-color: black;
}