.account-container {
    display: flex;
    flex-direction: column;
    width: fill-available;
}

.account-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-weight: 300;
}

.account-data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: fill-available;
}

.account-text {
    padding: 1rem;
    font-size: large;
    font-weight: 200;
}

.route-screen {
    display: flex;
    flex-direction: row;
    width: fill-available;
}

.account-ut-link {
    align-self: center;
    padding: 1rem;
}

.header {
    font-weight: 300;
}